<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ru.jecklandin.duckshot" android:versionCode="1"
	android:versionName="0.1">

	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="ru.jecklandin.duckshot.DuckApplication"
		android:debuggable="true"
		>
		<activity android:name=".DuckGame" android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:launchMode="singleTop"
			>
			<!--<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>-->
		</activity>

		<activity android:name=".MainMenu" android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:launchMode="singleTop">
			<intent-filter>

					<action android:name="android.intent.action.MAIN" /> <category
					android:name="android.intent.category.LAUNCHER" />
				
			</intent-filter>
		</activity>

		<activity android:name=".HiScores" android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<!--
					<action android:name="android.intent.action.MAIN" /> <category
					android:name="android.intent.category.LAUNCHER" />
				-->
			</intent-filter>
		</activity>

		<activity android:name=".test.SlingActivity" android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<!--
					<action android:name="android.intent.action.MAIN" /> <category
					android:name="android.intent.category.LAUNCHER" />
				-->
			</intent-filter>
		</activity>

		<activity android:name=".SettingsActivity" android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
			<!--		<action android:name="android.intent.action.MAIN" /> <category
					android:name="android.intent.category.LAUNCHER" />
			--></intent-filter>
		</activity>
 
	</application>    
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="3"/>
	
</manifest> 